@if (is_authenticated) {
    <p>Authenticated!</p>
    <p>Go to <a [routerLink]="['/', 'posts']">posts</a></p>
    <button (click)="logout()">Logout</button>
} @else {
    <div class="login-container">
        <fieldset>
            <input type="text" placeholder="username" [(ngModel)]="username">
        </fieldset>
        <fieldset>
            <input type="password" placeholder="Password" [(ngModel)]="password">
        </fieldset>
        
        <button (click)="login()">Log in</button>
    
        <button (click)="logout()">Logout</button>

        <p><a [routerLink]="['', 'posts']">let's explore</a></p>
    </div>
}