<div class="home">
    <h1>Welcome to Jazba!</h1>
    
    <p>Some info about web app...</p>

    <div class="GeneralForFirstPage">
        <header class="JazBa">
            <nav>JazBa</nav>
        </header>

        <div class="General">
            <form class="form">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
            </form>
            <div class="ForRegister">
                <a href="#">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>