<!-- <div class="home">
        <div class="General">
            <fieldset>
                <input type="text" placeholder="username" [(ngModel)]="username">
                <input type="password" placeholder="Password" [(ngModel)]="password">
            </fieldset>
            <div class="ForRegister">
                <button (click)="login()">Log in</button>
            </div>
        </div>
</div> -->

<fieldset>
    <input type="text" placeholder="username" [(ngModel)]="username">
</fieldset>
<fieldset>
    <input type="password" placeholder="Password" [(ngModel)]="password">
</fieldset>

<button (click)="login()">Log in</button>