body{
    background:         rgb(52,41,101);
    background:         linear-gradient(90deg, rgba(52,41,101,1) 5%, rgba(0,0,0,1) 55%, rgba(96,11,106,1) 100%);
}


.JazBa{
    font-family:        "Boldonse";
    text-align:         center;
    font-size:          24px;
    display:            flex;
    justify-content:    center;
    align-items:        center;

    margin-right:       400px;
    margin-top:         120px;
}

.General{

    margin-left:        350px;
    margin-top:         -150px;

    padding:            100px;
    padding-bottom:     120px;

}

.form{
    margin:             0 0 15px;
    display:            grid;
    gap:                20px;
}

.form input{
    border:             1px solid #e0e0e0;
    width:              250px;
    height:             30px;
    border-radius:      15px;
    font-family:        inherit;
    font-size:          15px;
    padding:            0 24px;
}




.GeneralForFirstPage{
    background:         rgb(178,160,255);
    background:         linear-gradient(90deg, rgba(178,160,255,1) 5%, rgba(89,141,255,1) 55%, rgba(241,116,255,1) 100%);
    
    border:             1px solid;
    margin-top:         200px;
    margin-left:        300px;
    margin-right:       300px;
    border-radius:      50px;

    height:             350px;
    background-color:   lightgreen;
    
}